table ,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    width: 900px;
    margin-left: 500px;
    
}
#img{
    background-color: green;
    color: white;
}
#ind{
    background-color: red;
    color: white;
}
tr:nth-child(even){
    background-color: rgb(197, 189, 189);
}
th{
    background-color: black;
    color: white;
}